<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="all" href="bower_components/leaflet/dist/leaflet.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="bower_components/react-autocomplete/dist/react-auocomplete.min.css"/>
    <style type="text/css">

        .map {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .search {
            position: absolute;
            left: 50px;
            top: 10px;  
            width: 300px;
            z-index: 2000;
        }

    </style>
</head>
<body>
<div id="wrapper"></div>

<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/leaflet/dist/leaflet.js"></script>
<script type="text/javascript" src="bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript" src="bower_components/react/react.js"></script>
<script type="text/javascript" src="bower_components/react/JSXTransformer.js"></script>
<script type="text/javascript" src="bower_components/react-autocomplete/dist/react-autocomplete.js"></script>
<script type="text/javascript" src="bower_components/react-map/dist/react-map.js"></script>

<script type="text/jsx">

    var SSRSearcher = function () {

        function search(value, callback) {

            function success(result) {

                if (parseInt(result.totaltAntallTreff, 10) === 1) {
                    result.stedsnavn = [result.stedsnavn];
                }

                var template = _.template('<%= stedsnavn %>, <%= fylkesnavn %> (<%= navnetype %>)');
                callback(_.map(result.stedsnavn, function (place, idx) {
                    var data = {
                        id: idx,
                        name: function () {
                            return template(place);
                        }
                    }
                    return _.extend(data, place);
                }));
            }
            $.ajax({
                url: 'https://ws.geonorge.no/SKWS3Index/ssr/sok',
                data: {
                    navn: value,
                    antPerSide: 9,
                    epsgKode: '4258',
                    eksakteForst: 'true',
                    side: 0
                },
                type: 'GET',
                dataType: 'json',
                success: success,
            });
        }

        return {
            search: search
        };
    }

    var searcher = new SSRSearcher();

    var MapSearch = React.createClass({

        itemSelected: function (item) {
            var pos = [parseFloat(item.nord), parseFloat(item.aust)];
            var marker = L.marker(pos);
            this.layerGroup.clearLayers();
            this.layerGroup.addLayer(marker);
            this.map.panTo(pos);
        },

        search: function (query, callback) {
            searcher.search(query.query, callback);
        },

        createMap: function (element) {
            this.map = L.map(element);
            L.tileLayer(
                'http://opencache.statkart.no/gatekeeper/gk/gk.open_gmaps?layers=norges_grunnkart&zoom={z}&x={x}&y={y}', {
                attribution: "&copy; <a href='http://statkart.no'>Kartverket</a>"
            }).addTo(this.map);

            this.layerGroup = L.layerGroup([]).addTo(this.map);
            return this.map;
        },

        render: function () {
            return (
                <div>
                    <div className="search">
                        <Autocomplete
                        placeholder="Søk.."
                        select={this.itemSelected}
                        displayAttribute='name'
                        autocompleteSearch={this.search}/>
                    </div>
                    <Map 
                        createMap={this.createMap}
                        lat="65.0"
                        lon="10.0"
                        zoom="5"/>
                </div>
            );
        }
    });

      React.render(
        <MapSearch />,
        document.getElementById('wrapper')
      );
    </script>

</body>
</html>
